
    #wrap {
        position: relative;
        width: 512px;
        height: 768px;
        margin: 20px auto;
        border: 1px solid transparent;
        background: url('../img/bg0.jpg') center/cover;
    }

    #wrap.bg1 {
        background: url('../img/bg1.jpg');
    }

    #wrap.bg2 {
        background: url('../img/bg2.jpg');
    }

    #wrap.bg3 {
        background: url('../img/bg3.jpg');
    }

    #wrap.bg4 {
        background: url('../img/bg4.jpg');
    }

    #wrap h1 {
        color: azure;
        text-align: center;
        padding: 30px;
    }

    .option {
        width: 200px;
        height: 40px;
        line-height: 40px;
        font-size: 30px;
        color: steelblue;
        background: wheat;
        border-radius: 10px;
        border: 1px solid #000;
        font-weight: bold;
        margin: 70px auto;
        text-align: center;
        cursor: pointer;
    }

    .footer {
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: 20px;
        color: #fff;
    }
    /* enemy 敌机定位 */

    .enemy {
        position: absolute;
    }
    /* 血条 */

    .blood {
        position: absolute;
        left: 0;
        right: 0;
        top: -6px;
        margin: 0 auto;
        width: 70%;
        height: 2px;
        border-radius: 2px;
        border: 1px solid red;
    }

    .blood p {
        height: 100%;
        background: red;
    }
    /* 小飞机 */

    .small {
        width: 50px;
    }

    img:not(.boom) {
        width: 100%;
        height: 100%;
    }
    /* 大飞机 */

    .big {
        width: 60px;
    }

    .big .blood {
        position: absolute;
        left: 0;
        right: 0;
        top: -10px;
        margin: 0 auto;
        height: 4px;
        border-radius: unset;
    }

    .blood p {
        height: 100%;
        background: red;
    }
    /* 我军 */

    .plane {
        position: absolute;
    }

    .plane.small {
        width: 80px;
    }

    .plane.big {
        width: 100px;
    }

    .biu {
        position: absolute;
    }

    .biu.strong1 {
        width: 16px;
        height: 16px;
    }

    .biu.strong2 {
        width: 20px;
        height: 20px;
    }
    /* 爆炸图片 */

    img.boom {
        position: absolute;
        animation: opa 1s;
    }

    @keyframes opa {
        0% {
            opacity: 1;
        }
        25% {
            opacity: 0.5;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    /* prize */

    .prize {
        position: absolute;
        width: 50px;
        height: 50px;
        font-size: 50px;
        text-align: center;
        line-height: 50px;
        border: 1px dashed red;
        color: red;
        font-weight: bold;
        animation: prize 1s infinite;
    }

    @keyframes prize {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.2);
        }

        100% {
            transform: scale(1);
        }
    }
    /* 得分板 */

    .score {
        position: absolute;
        top: 0;
        left: 0;
        width: 70px;
        height: 30px;
        color: #fff;
        font-size: 20px;
    }
    /* 记录得分 */

    .record {
        width: 60%;
        height: 100px;
        margin: 100px auto;
        background: #000;
        padding: 10px;
        border: 4px double #fff;
        color: #fff;
    }

    .record p {
        height: 50px;
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        color: skyblue;
    }
    /* 再来一次 */

    .btn {
        position: absolute;
        bottom: 50px;
        right: 0;
        left: 0;
        margin: auto;
        width: 150px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        border-radius: 10px;
        background: #000;
        cursor: pointer;
    }